
table,td,th{
    
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
}
body{
    background-image: url("Sun and clouds in a sky stock photo_ Image of ozone, beauty - 5644762.jpg")
    
}
th,td{
    padding: 10px;
}
th{
    background-color: #fddf50;
}  
#nested {
    background-color: #4d4d59;
}


